@charset "UTF-8";

/* common */
html {
    font-size: 100%;
}
/* ローディングを実施するならbody背景色は同じに */
body {
    background:#333;
    font-family: 'M PLUS 1p', sans-serif;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
/* ローディング */
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 999999;
    text-align: center;
    color: #fff;
}
#splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* アニメーション */
body.appear {
    background:#fff;
}
.splashbg {
    display: none;
    content:"";
    position: fixed;
    transform: scale(100);
    background-color: #333;
    z-index:999;
    /* 丸のスタートの形状 */
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
}
body.appear .splashbg {
    display: block;
    border-radius: 50%;
    animation-name:PageAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes PageAnime {
    0%{
        transform: scale(100);
    }
    100%{
        transform: scale(0);
        display: none;
    }
}
#container {
    opacity: 0;
}
body.appear #container {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes PageAnimeAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* 2回目以降 */
body.second {
    background:#fff;
}
body.second #container {
    opacity: 1;
}

/* 個別 */
.wrapper {
    
    max-width: 1020px;
    margin:0 auto;
    padding:0 30px;
}
.section-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
/* センター寄席の場合はtransform */
.section-title::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    width: 25%;
    border-bottom: 5px solid #6a6a6a;
    transform: translate(-50%);
}
/* header */
#header {
    height: 80px;
    width: 100%;
    position: relative;
    background-color: white;
}
#header .site-title {
    width: 200px;
    line-height: 1px;
}
#header .site-title a {
    display: block;
}
#header {
    display: flex;  
}
/* pc-navi */
#header #pc-navi {
    display: block;
    margin: auto 0;
}
#header .pc-menu {
    display: flex;
}
#header .pc-menu li {
    
    position: relative;
    margin-left: 30px;
}
.pc-menu li::before {
    content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 0;
	border-bottom: solid 2px #bae8e8;
	transform: translateX(-50%);
	transition: 0.3s;
}
li:hover::before {
	width: 100%;
}
#header .pc-menu li a {
    color: #333;
    font-weight: bold;
    font-size: 1rem;
}
/* pcでハンバーガー非表示 */
.hamburger {
    display: none;
}
#sp-navi {
    display: none;
}

/* mainvisual */
#mainvisual {
    height: 550px;
    position: relative;
    margin-bottom: 120px;
}
#mainvisual .text {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    position: absolute;
    top: 180px;
    width: 50%;
    z-index: 2;
}
#mainvisual .text .title {
    font-size: 2.875rem;
    font-weight: bold;
    margin-bottom: 30px;
}
#mainvisual .main-image {
    position: absolute;
    top: 30px;
    right: 0;
}

/* example */
#example {
    height: auto;
    background-color: #f3f3f3;
    margin-bottom: 100px;
}
#example .section-title {
    color: #333;
}
#example ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 30px 30px 30px;
}
#example li {
    width: 47%;
    margin-bottom: 20px;
}
#example li:nth-child(1),
#example li:nth-child(2) {
    
}
#example img {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    object-fit: cover;
    height: 300px;
    width: 100%;
}
#example img:hover {
    transform: scale(1);
}
.mask{
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
    border: 3px solid #333;
    border-radius: 30px;
}
/* question */
/* #question {
    width: 100%;
    margin: 16px auto;
    text-align: center;
}
#question .content {
    margin-bottom: 50px;
    text-align: left;
}
#question ul {
	padding-left: 0;
	display: inline-block;
}
#question .item {
    width: 600px;
    text-align: left;
    padding: 20px 0 40px 0;
    margin-bottom: 20px;
    border-bottom: solid 1px rgb(170, 170, 170);
}
#question .q-title {
    font-size: 1.25rem;
    font-weight: bold;
} */

/* アコーディオン */
.accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
}
.accordion-area li {
    margin: 10px 0;
}
.qa-area {
    border: 1px solid #ccc;
}
.qa-title {
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}
.qa-title::before,
.qa-title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;
}
.qa-title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
}
.qa-title::after {
    top:48%;
    left: 15px;
    transform: rotate(90deg);
}
.qa-title.close::before {
    transform:rotate(45deg);
}
.qa-title.close::after {
    transform:rotate(-45deg);
}
.qa-box {
    display: none;
    background: #f3f3f3;
    margin:0 3% 3% 3%;
    padding: 3%;
}

/* contact */
#contact {
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-area {
    margin: 0 auto;
    text-align: center;
    background:#f3f3f3;
    width: 700px;
    padding: 20px 0 40px 0;
}
.contact-explain {
    margin-top: 20px;
}
.contact-btn-area {
    margin-top:30px;
}
.contact-btn-list {
    margin:20px 0;
}
.contact-btn {
    display:inline-block;
    color: #fff;
    background-color: #00bdbd;
    padding: 10px 40px;
    width: 300px;
    border-radius: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.contact-btn::after {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.contact-btn:hover {
    color: #00bdbd;
}
.contact-btn:hover::after {
    transform: scale(1, 1);
}
/* footer */
#footer {
    height: auto;
    background-color: white;
    color: #333;
}
#sns .sns {
    margin-bottom: 10px;
}
#sns .sns-list {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sns-list li {
    transition: 0.5s all;
}
.sns-list li p {
    text-align: center;
}
.sns-list li a {
    color: white;
}
.sns-list li:hover {
    opacity: 0.7;
}
.sns-list img {
    max-width: 50px;
}
.copyright {
    text-align: center;
}
/* pagetop */
#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
}
#page-top a:hover {
    background: #777;
}
#page-top {
    position: fixed;
    right: 10px;
    z-index: 2;
    opacity: 0;
    transform: translateY(100px);
}
#page-top.UpMove{
    animation: UpAnime 0.5s forwards;
}
/* ふわ */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes fadeUpAnime{
from {
    opacity: 0;
    transform: translateY(80px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}
/* レスポンシブ */
@media screen and (max-width: 767px) {
    .wrapper {
        padding: 0;
    }
    .section-title {
        font-size: 2rem;
        padding: 10px 0;
    }
    /* header */
    #header{
        height: 50px;
        position:fixed ;
        top: 0;
        right: 0;
        z-index: 10;
    }
    #header .site-title {
        width: 150px;
        position:fixed;
    }
    #header #pc-navi {
        display: none;
    }
     /* hamburger */
    .hamburger {
     /* important */
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        top: 0px;
        right: 10px;
        z-index: 30;
        cursor: pointer;
        transition: 0.3s;
    }
    .hamburger:hover {
        opacity: 0.7;
    }
    .hamburger span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #666;
        width: 45%;
        z-index: 30;
    }
    .hamburger span:nth-child(1){
        top: 15px;
    }
    .hamburger span:nth-child(2) {
        top: 23px;
    }
    .hamburger span:nth-child(3) {
        top: 31px;
    }
    .hamburger.active span:nth-child(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px)rotate(-45deg);
        width: 30%;
    }
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px)rotate(45deg);
        width: 30%;
    }
    /* sp-navi */
    #sp-navi {
        display: block;
        position:fixed;
        z-index: 20;
        top: 0;
        left:-100%;
        width: 100%;
        height: 100vh;
        background: rgb(212, 212, 212);
        transition: all 0.6s ease-in-out;
        overflow-x: hidden;
    }
    #sp-navi.active {
        top:0;
        left: 0;
    }
    #sp-navi ul {
        position: absolute;
        z-index: 30;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #sp-navi li {
        list-style: none;
        text-align: center;
        border-bottom: solid 1px rgb(133, 133, 133);
    }
    #sp-navi li a {
        color: #333;
        text-decoration: none;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }
    /* mainvisual */
    #mainvisual {
        height: auto;
        position: relative;
        margin: 20px 0 50px 0;
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }
    #mainvisual .text {
        position: relative;
        top: 0;
        width: 100%;
        padding: 0 5px;
        text-align: center;
    }
    #mainvisual .text .title {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    #mainvisual .main-image {
        position: relative;
        top: 0;
        margin: 0 auto 10px auto;
    }
    /* example */
    #example {
        height: auto;
        margin-bottom: 30px;
    }
    #example ul {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }
    #example li {
        width: 100%;
        margin-bottom: 20px;
    }
    /* 画像より大きい幅の場合中央寄せ　ブロックにする */
    #example img {
        display: block;
        margin:0 auto;
        object-fit: cover;
        height: 250px;
        
    }

    /* question */
    /* #question {
    width: 100%;
    margin: 16px auto;
    text-align: center;
    padding: 0 5px;
    }
    #question .item {
        width: 100%;
        text-align: left;
        padding: 20px 0 40px 0;
        margin-bottom: 20px;
        border-bottom: solid 1px rgb(170, 170, 170);
    } */
    /* contact */
    #contact {
        margin: 40px 0;
    }
    .contact-area {
        margin: 0 auto;
        text-align: center;
        background:#f3f3f3;
        width: 100%;
        
    }
    .contact-explain {
        margin-top: 20px;
    }
    .contact-btn-area {
        margin-top:30px;
    }
    .contact-btn-list {
        margin:20px 0;
    }
    .contact-btn {
        display:inline-block;
        color: #fff;
        background-color: #00bdbd;
        padding: 10px 40px;
        width: 300px;
        border-radius: 100vh;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    /* footer */
    #footer {
        height: auto;
    }
    #sns .sns-list {
        width: 55%;
    }
    .sns-list li img {
        width: 45px;
    }
    .sns-title {
        display: none;
    }
}